
<div class="containerFlight">
<form (ngSubmit) = "loginFormSubmit(myForm)" class="container" #myForm="ngForm">
    <h1>Login</h1>
    <div>
        <label for="Username">Username</label>
        <input type="text" class = "username" placeholder="Enter Username"
         name="userName" [(ngModel)] ="userName" required>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" class = "password" placeholder="Enter Password" 
        name="passWord"  [(ngModel)] ="passWord" required>
    </div>
    <button type="submit" class="btn" >Login</button>
</form>
</div>

