
<div class="bg-img">
    <form (ngSubmit) = "forgotPasswordSubmit(myForm)" class="container" #myForm="ngForm">
        <h1>Forgot Password</h1>
        <div>
            <label for="Username">Username</label>
            <input type="text" id ="userName" class = "username" placeholder="Enter Username"
             name="userName" [(ngModel)] ="userName" required>
        </div>
        <div>
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="date" id ="dateOfBirth"  class = "dateOfBirth" placeholder="Enter Date Of Birth"
             name="dateOfBirth" [(ngModel)] ="dateOfBirth" required>
        </div>
         <div *ngIf = "submitButton == 'Verify Password'" id = 'Otp' class = 'Otp' >
            <label for="TemporaryPassword">TemporaryPassword</label>
            <input type="text" id ="temporaryPassword" class = "temporaryPassword" placeholder="Enter TemporaryPassword"
             name="temporaryPassword" [(ngModel)] ="temporaryPassword" required>
        </div>
        <div *ngIf = "submitButton == 'Change Password'" id ="newPassword" class = 'newPassword' >
            <label for="New Password">New Password</label>
            <input type="text" id ="newPassword" class = "newPassword" placeholder="Enter New Password"
             name="newPassword" [(ngModel)] ="newPassword" required>
        </div>
        <div *ngIf = "submitButton == 'Change Password'" id ="confirmNewPassword" class = 'confirmNewPassword' >
            <label for="Confirm New Password">Confirm New Password</label>
            <input type="text" id ="confirmNewPassword" class = "confirmNewPassword" placeholder="Enter Confirm New Password"
             name="confirmNewPassword" [(ngModel)] ="confirmNewPassword" required>
        </div>
        <button id = "button-submit" type="submit" class="btn" >{{ submitButton }}</button>
    </form>
</div>

