
        <a class="btn SignUp" role="button" routerLink = "/login" routerLinkActive="active">Logout</a>
        <div class="containerFlight">
          <form [formGroup]='flightBookForm' (ngSubmit)="bookFlight(myForm)" #myForm="ngForm" class ="form-inline">
            <div class="form-group mr-2">
                <label>Source :</label>
                
                <input type="text" list="from-cities" class="form-control" (keyup)="getFormCities($event.target.value)" formControlName = 'source' >
                <datalist id="from-cities">
                    <option *ngFor="let d of fromCitiesList" [value]="d">{{d}}</option>
                </datalist>
             </div>
            <div class="form-group mr-2">
                 <label>Destination :</label>
                 <input type="text" list="to-cities" class="form-control" (keyup)="getToCities($event.target.value)" formControlName = 'destination' >
                <datalist id="to-cities">
                    <option *ngFor="let d of toCitiesList" [value]="d">{{d}}</option>
                </datalist>
             </div>
             <div class="form-group mr-2" >
                <label >Travel Date:</label>
                <input type="date" class="form-control" formControlName="travelDate" >
             </div>
             <button type="submit" class="btn btn-primary">Fetch Flight Details</button>
         </form>
        
        <app-flight-details *ngIf="fetchFlights.length>0"></app-flight-details>
       
        <div *ngIf = "fetchedData == true" class="text-center text-danger">
          {{"No Flights Available For the selected dates"}}
         </div>
        
         <form *ngIf = "formShow == true" [formGroup]='bookedFlightForm' (ngSubmit)="bookedFlight(myForm)" #myForm="ngForm">
          <div class="form-group">
              <label>FlightNumber :</label>
              <input type="text" class="form-control"  formControlName = 'flightNumber' >
           </div>
          <div class="form-group">
               <label>Class Type :</label>
              <select class="form-control" formControlName = 'classType' >
                <option value="1">Economy</option>
                <option value="2">Business</option>
              </select>
           </div>
           <div class="form-group" >
              <label >No Of Seats</label>
              <input type="number" class="form-control" formControlName="noOfSeats" (keypress)= "getTotalFare($event)">
           </div>
           <button type="submit" class="btn btn-primary">Book Flight</button>
          
       </form>
        Total :  {{flightFare}}   
      </div>    
       
      
            



