<app-layout></app-layout>

        <div class="containerFlight" style="margin-left: 134px !important;">
          <form [formGroup]='flightBookForm' (ngSubmit)="bookFlight(myForm)" #myForm="ngForm" class ="form-inline" style="margin-bottom: 40px;">
            <div class="form-group mr-2">
                <label style="padding-right: 10px;">Source :</label>
                
                <input type="text" list="from-cities" class="form-control" (keyup)="getFormCities($event.target.value)" formControlName = 'source' >
                <datalist id="from-cities">
                    <option *ngFor="let d of fromCitiesList" [value]="d">{{d}}</option>
                </datalist>
             </div>
            <div class="form-group mr-2">
                 <label style="padding-right: 10px;">Destination :</label>
                 <input type="text" list="to-cities" class="form-control" (keyup)="getToCities($event.target.value)" formControlName = 'destination' >
                <datalist id="to-cities">
                    <option *ngFor="let d of toCitiesList" [value]="d">{{d}}</option>
                </datalist>
             </div>
             <div class="form-group mr-2" >
                <label style="padding-right: 10px;" >Travel Date:</label>
                <input type="date" class="form-control" formControlName="travelDate" >
             </div>
             <button type="submit" class="btn btn-primary">Fetch Flight Details</button>
         </form>
        
         <div *ngIf = "fetchedData == true" class="text-center text-danger">
          {{"No Flights Available For the selected dates"}}
         </div>
        
        <app-flight-details *ngIf="fetchFlights.length>0"></app-flight-details>
       
        <app-flight-book-select [selectedFlight]='selectedFlight' [FlightFetchDetails] = 'FlightFetchDetails' *ngIf = "formShow == true"  ></app-flight-book-select>
        </div>
        

       
      
            



