<div>
<div *ngFor = "let g of fetchFlights; let i = index" (click) = "flightDetails(i)">
    <div class="card-columns">
      <div class="card bg-light details">
        <div class="card-body" style="background-color: #fed8b1; width: 263px;">
         <label>Flight Number :  <span class="text-primary">{{ g.FlightNumber }} </span> </label>
         <label *ngIf = " g.EconomyClassDetails.length > 0 && g.EconomyClassDetails[0]['FlightCost'] >0 ">EconomyCost   :  <span class="text-primary">{{ g.EconomyClassDetails[0]['FlightCost']   }}</span> </label>
         <label *ngIf = " g.BusinessClassDetails.length > 0 && g.BusinessClassDetails[0]['FlightCost'] >0 ">BusinessCost: <span class="text-primary">{{ g.BusinessClassDetails[0]['FlightCost'] }}</span> </label>
        </div>
      </div>
      <br>
     </div>
      </div>
    </div>